body {
  max-width: 800px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.link {
  flex-grow: 1;
  border-style: solid;
  border-width: thin;
  border-color: white;
  background-color: darkblue;
}

.link p {
  text-align: center;
  color: white;
}

a.link {
  text-decoration: none;
}

.banner h1 {
  font-size: 2em;
  text-align: center;
  word-spacing: 1em;
}

#content {
  border-top-style: solid;
  border-top-width: thin;
}

#content.dark {
  background-color: black;
}

#content.dark p,
#content.dark h2 {
  color: white;
}

.switch {
  display: none;
}

.switch.visible {
  display: inline;
}

.toggle {
  cursor: pointer;
}
